.fighters___root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../resources/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fighters___list {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighters___fighter {
  height: 150px;
  max-width: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighters___fighter:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}
.fighter-preview___info {
  height: auto;
  width: auto;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #ffdfa7;
  border: 5px solid #ca9650;
}
.fighter-preview___info > h3 {
text-align: center;
}
.fighter-preview___img {
  height: 200px;
}
